/*-Configurações do header--*/
header{
    background-image: url('../images/pexels-miftah-rafli-hidayat-3526416.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: grey;
    padding: 30px;
}
header h4{
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}
header h4 span{
    font-weight: 400;
}
header h4 strong{
    font-size: 1.9rem;
    font-weight: bold;
    margin-bottom: 15px;
}
header h4 span:first-child{
    font-size: 1.1rem;
    margin-bottom: 5px;
}
header h4 span:last-child{
    font-size: 0.9rem;
}
header nav ul li a{
    display: block;
    text-decoration: none;
    background-color: white;
    color: grey;
    width: 160px;
    font-size: 0.9rem;
    padding: 12px 20px;
    transition: 0.3s;
}
header nav ul li a:hover{
    background-color: black;
    color: white;
}
/*--------------------------*/


/*---Navbar----*/
@media screen and (min-width: 421px) {
    header nav{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 450px;
    }
    header nav ul {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 20px;
        margin-bottom: 60px;
    }
}
@media screen and (min-width: 760px) {
    header nav{
        display: flex;
        width: 100%;
        max-width: 780px;
        flex-wrap: wrap;
        justify-content: center;
    }
    header nav ul {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        list-style: none;
        justify-content: space-between;
    }
}
/*--------------------------*/


/*---Main----*/
main{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}
/*--------------------------*/


/*----Configuração paragrafo----*/
.content-form > p,
.share-news > p{
    display: flex;
    margin: 0 auto;
    width: 33%;
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
}
/*--------------------------*/


/*---Primeiro formulario----*/
.content-form{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 70px;
}
.content-form article{
    width: 60%;
}
.content-form form{
    display: flex;
    flex-direction: column;
    width: 33%;
}
.content-form form >input{
    margin-bottom: 30px;
}
.content-form article h3{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 30px;
}
.content-form article p{
    margin-bottom: 25px;
}
.content-form form > input,
.share-news .field label> input{
    width: 100%;
    height: 30px;
}
.content-form form .gender{
    width: 70%;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    justify-content: space-between;
}
.content-form form >label{
    margin-bottom: 10px;
}
/*--------------------------*/


/*---Grid----*/
@media screen and (min-width: 421px) {
    .special-selection .grid{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
        margin-bottom: 50px;
    }
}
@media screen and (min-width: 610px) {
    .special-selection .grid{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 10px;
        margin-bottom: 50px;
    }
}
.grid .box {
    width: 100%;
    font-size: 0.75rem;
    margin-bottom: 20px;
}
.grid .box .box-content{
    text-align: left;
    width: 100%;
}
.grid .box .box-content p:nth-child(3){
    font-size: 0.75rem;
}
.grid .box .box-content p:nth-child(4){
    font-weight: bold;
    font-size: 1rem;
}
.grid .box .box-content h5{
    font-size: 0.75rem;
    margin-bottom: 10px;
}
.grid .box .box-content p{
    margin-bottom: 12px;
    font-size: 0.85rem;
}
.grid .box .box-content button{
    width: 100%;
    font-size: 0.95rem;
    border: 1px solid black;
    border-radius: 5px;
}
/*--------------------------*/


/*-----Seleção especial-----*/
.special-selection{
    width: 100%;
    position: relative;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 130px;
}
.special-selection > button,
    .share-news form > button{
    width: 300px;
}
.special-selection h3,
    .share-news h3{
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 50px; 
}
.special-selection h3 span,
    .share-news h3 span { 
    background:#fff; 
    padding:0 30px; 
}
/*--------------------------*/


/*----Compartilhe a novidade---*/
.share-news{
    margin-bottom: 80px;
    width: 100%;
    text-align: center;
}
.share-news p{
    margin-bottom: 30px;
}
.share-news form .field{
    text-align: left;
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 50px;
}
.share-news form .field label{
    width: 45%;
    line-height: 40px;
}
/*--------------------------*/


/*---Rodapé----*/
footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
    line-height: 30px;
    color: white;
    width: 100%;
    background-color: grey;
}
/*--------------------------*/