@import url('desktop.css');
@import url('mobile.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    font-size: 12px;
    font-family: Helvetica, sans-serif, Arial;
    display: flex;
    color: grey;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*---Erro nos inputs----*/
.wrong{
    border: 1px solid red;
}
.wrongMensage{
    color: red;
    font-size: 0.75rem;
    margin-bottom: 10px;
}
.hide{
    display: none;
}
/*--------------------------*/


/*Configuração padrão de botões*/
.content-form form > button,
.special-selection > button,
.share-news form > button,
.grid .box button
{
    border: none;
    border-radius: 2px;
    padding: 10px 20px;
    box-shadow: 0 0 2px 0px #707070;
    outline: none;
    background-color: white;
    color: grey;
    transition: 0.5s;
}
.content-form form > button:hover,
.special-selection > button:hover,
.share-news form > button:hover,
.grid .box button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}
/*--------------------------*/